header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #FFF9EA;
    z-index: 3;
}

#navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLogo {
    font-size: 24px;
    color: #E9A209;
}

#navList {
    display: flex;
    list-style: none;
    gap: 48px;
}

.navItem a {
    text-decoration: none;
    color: #1D1D1DAD;
    font-weight: 600;
}

.navItem.active a {
    color: #1D1D1D;
    border-bottom: 3px solid #FFE100;
}

#mobileBtn {
    display: none;
}

#mobileMenu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #navList,
    #navBar .btnDefault {
        display: none;
    }

    #mobileBtn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobileMenu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobileNavList {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobileNavList .navItem {
        list-style: none;
        text-align: center;
        /* color: #1D1D1D; */
    }
}