header {
    width: 100%;
    padding: 28px 8%;
}

#navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLogo {
    font-size: 24px;
    color: #E9A209;
}

#navList {
    display: flex;
    list-style: none;
    gap: 48px;
}

.navItem a {
    text-decoration: none;
    color: #1D1D1DAD;
    font-weight: 600;
}

.navItem.active a {
    color: #1D1D1D;
    border-bottom: 3px solid #FFE100;
}