@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #FFF9EA;
}

.btnDefault {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFCB45;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0,1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.btnDefault:hover{
  background-color: #F8D477;
}